{% extends "base.html" %}

{% block content %}
<h1>Add new blog</h1>
<form action="/newpost" method="post">
    <tr>
            <td><label for="title">Blog Title:</label></td>
        <td>
            <input type="title" name="title">
        </td>
    </tr>
    <P></P>
    <tr>
        <td><label for="body">Blog content:</label></td>
        <br>
        <td>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
        </td>
    </tr>
    <br>
    <tr>
        <input type="submit" value="submit">
    </tr>
</form>
{% endblock %}